<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SPRING SECURITY</title>
</head>
<body>
<div th:fragment="nav">
    <a href="/home/index">Home</a> ::
    <a href="/home/about">About Us</a>
    |||
    <a href="/home/admins">Admins</a>::
    <a href="/home/users">Users</a>::
    <a href="/home/authenticated">Authenticated</a>
    |||
    <a href="/auth/login/form">Login</a>
    <a href="/auth/logoff">Logout</a>
</div>
</body>
</html>